@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Overpass:wght@400;700&display=swap');
:root {
    --primary-orange: hsl(25, 97%, 53%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-light-grey: hsl(217, 12%, 63%);
    --neutral-medium-grey: hsl(216, 12%, 54%);
    --neutral-dark-grey: hsl(216, 12%, 22%);
    --neutral-dark-blue: hsl(213, 19%, 18%);
    --neutral-very-dark-blue: hsl(216, 12%, 8%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: 'Overpass', sans-serif;
    background-color: var(--neutral-very-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 1.5rem;
}

.card {
    width: 360px;
    background-color: var(--neutral-dark-blue);
    padding: 2rem;
    border-radius: 1.5rem;
}

.img-container {
    background-color: var(--neutral-dark-grey);
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
}

img {
    margin: auto;
    object-fit: contain;
}
.card__title {
    font-size: 1.6rem;
    color: var(--neutral-white);
    font-weight: 700;
    margin: 1.5rem 0 1rem 0;
}

.card__description {
    font-size: 15px;
    line-height: 1.5rem;
    color: var(--neutral-light-grey);
}

.container__number {
    margin-top: 1.5rem;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.btn-number {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--neutral-light-grey);
    padding: 1rem;
    background-color: var(--neutral-dark-grey);
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
}

.active {
    background-color: var(--neutral-light-grey);
    color: var(--neutral-white);
}

.btn {
    margin-top: 1.5rem;
    width: 100%;
    padding: 0.8rem 0;
    text-transform: uppercase;
    background-color: var(--primary-orange);
    color: var(--neutral-white);
    font-weight: 700;
    font-size: 0.8rem;
    letter-spacing: 2px;
    border-radius: 2rem;
    cursor: pointer;
}

/* Thank you modal Styles */
.card__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2.5rem;
}
.ilustration-container {
    margin: 0.5rem 0 1.5rem 0;
    text-align: center;
}
.number-selected {
    color: var(--primary-orange);
    background-color: var(--neutral-dark-grey);
    padding: 8px 16px;
    border-radius: 2rem;
    display: inline-block;
    margin: 0 auto 1rem auto;
}

.center {
    text-align: center;
}

/* Footer */
.attribution {
    font-size: 12px;
    text-align: center;
    position: fixed;
    color: var(--neutral-white);
    bottom: 20px;
}
.attribution a {
    color: var(--neutral-light-grey);
}

/* Responsive stuff */

@media screen and (min-width: 1200px) {
    .btn:hover {
        background-color: var(--neutral-white);
        color: var(--primary-orange);
    }
    .btn-number:hover {
        background-color: var(--primary-orange);
        color: var(--neutral-white);
    }
}
